@import "../../../shared/scss/theme";
.container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    padding: 30px 50px;
    grid-gap: 10px;
  
    .title-container {
        grid-column: 1/25;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
        .title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 24px;
            font-weight:900;
            letter-spacing: 1px;
        }
        .sub-title {
            display: flex;
            flex-direction: row;
            padding-left: 40px;
            color: $secondary;
        }
    }
    
    .form-container {
        // border: 1px solid white;
        // background-color: #424242;
        background-color: #1d1b1b;
        grid-column: 6/20;
        grid-row: 2;
        height: calc(100vh - 300px);
        border-radius: 1em;
    }

    .steps-container {
        margin-top: 20px;
        grid-column: 2/24;
        grid-row: 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .row {
            display: flex;
            flex-direction: row;
            gap: 10px;
            background-color: white;
            .current {
                background: $secondary;
                position: relative;
                letter-spacing: 1px;
                width: 150px;
                text-align: center;
                cursor: pointer;
                &:after {
                    content: '';
                    position: absolute;
                    right: -10px;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    border-left: 10px solid $secondary;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    border-left: 10px solid white;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                }
                
            }
            .step {
                background: $bgColor;
                position: relative;
                letter-spacing: 1px;
                width: 150px;
                text-align: center;
                border-left: 0px solid $secondary;
                border-top: 0px solid transparent;
                border-bottom: 0px solid transparent;
                cursor: pointer;
                &:after {
                    content: '';
                  position: absolute;
                  right: -10px;
                  bottom: 0;
                  width: 0;
                  height: 0;
                  border-left: 10px solid $bgColor;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;
                }
                &:before {
                  content: '';
                  position: absolute;
                  left: 0px;
                  bottom: 0;
                  width: 0;
                  height: 0;
                  border-left: 10px solid white;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;
                }
            }
        }


        

    }

 
}













::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $secondary !important;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $secondary !important;
} 
  
::ng-deep.mat-form-field-ripple {
    background-color: $secondary !important;;
}