<div class="container">
    <div class="field">
        <div class="title">EMAIL</div>
        <mat-form-field appearance="legacy">
            <mat-label>EMAIL</mat-label>
            <input type="email" matInput autocomplete="off" [(ngModel)]="membersRegisterServices.email">
        </mat-form-field>
        <div class="actions">
            <button mat-raised-button (click)="back()">BACK</button>
            <button [disabled]="validateFields()" mat-raised-button class="btn-primary" (click)="next()">NEXT</button>
        </div>
    </div>

</div>