<div class="container">
    <div class="title">GENDER</div>
    <div class="radio-button-container">
        <div class="male">
            <img src="../../../../../assets/logo/gender/male.png" alt="">
            <mat-radio-button value="1">MALE</mat-radio-button>
        </div>
        <div class="border"></div>
        <div class="female">
            <img src="../../../../../assets/logo/gender/female.png" alt="">
            <mat-radio-button value="1">FEMALE</mat-radio-button>
        </div>
    </div>
    <div class="actions">
        <button mat-raised-button (click)="back()">Back</button>
        <button mat-raised-button class="btn-primary" (click)="next()">Next</button>
    </div>
</div>