<div class="container">
    <div class="title">GENDER</div>
    <div class="radio-button-container">
   
        <div class="male">
            <img src="../../../../../assets/logo/gender/male.png" alt="">
            <mat-radio-button [checked]="membersRegisterServices.gender == 'Male'" value="Male" ngDefaultControl [(ngModel)]="membersRegisterServices.gender">MALE</mat-radio-button>
        </div>
        <div class="border"></div>
        <div class="female">
            <img src="../../../../../assets/logo/gender/female.png" alt="">
            <mat-radio-button [checked]="membersRegisterServices.gender == 'Female'" value="Female" ngDefaultControl [(ngModel)]="membersRegisterServices.gender">FEMALE</mat-radio-button>
        </div>
 
    </div>
    <div class="actions">
        <button mat-raised-button (click)="back()">Back</button>
        <button [disabled]="validateFields()" mat-raised-button class="btn-primary" (click)="next()">Next</button>
    </div>
</div>