<!-- {{count}}
<button (click)="stop()">stop</button>

<form [formGroup]="loginForm" (submit)="login()">
    <input type="text" formControlName="username">
    <input type="text" formControlName="password">
    <button [disabled]="!loginForm.valid">submit</button>
</form>


<button (click)="setValue()">set value</button> -->

<div id="container">
    <div class="header">
        <button>Home</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button>About Us</button>
        <button class="contact-us">Contact Us</button>
    </div>
    <div class="sidebar">
        <div class="menu" matRipple>Dashboard</div>
        <div class="menu" matRipple>User-Account</div>
        <div class="menu" matRipple>Stores</div>
    </div>
    <div class="body">
        <div class="position">postion</div>
        <div class="position">postion</div>
        <div class="position">postion</div>
        <div class="position">postion</div>
    </div>
    <div class="footer">footer</div>
</div>