<app-admin-container [title]="title">
    <div new id="container">
        <form [formGroup]="storeForm" (submit)="update()">
            <div class="code">
                <mat-form-field appearance="legacy" color="accent">
                    <mat-label>Code</mat-label>
                    <input UpperCase formControlName="code" class="upper-case" autofocus matInput
                        autocomplete="off">
                </mat-form-field>

                <mat-form-field appearance="legacy" color="accent">
                    <mat-label>Store Name</mat-label>
                    <input Capitalize formControlName="name" class="capitalize" autofocus matInput
                        autocomplete="off">
                </mat-form-field>
            </div>

            <div class="location">
                <mat-form-field appearance="legacy" color="accent">
                    <mat-label>Area</mat-label>
                    <input Capitalize formControlName="area" class="capitalize" autofocus matInput
                        autocomplete="off">
                </mat-form-field>

                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Region</mat-label>
                    <mat-select formControlName="region">
                        <mat-option *ngFor="let region of regions" [value]="region">
                            {{region}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="category">
                <mat-form-field appearance="legacy" color="accent">
                    <mat-label>Cluster</mat-label>
                    <input Capitalize formControlName="cluster" class="capitalize" autofocus matInput
                        autocomplete="off">
                </mat-form-field>

                <mat-form-field appearance="legacy" color="accent">
                    <mat-label>Business Model</mat-label>
                    <mat-select formControlName="business_model">
                        <mat-option value="FO">FO</mat-option>
                        <mat-option value="FOX">FOX</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="token">
                <div class="btn-actions">
                    <button mat-icon-button type="button" matTooltip="Regenerate Token">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                    <button mat-icon-button type="button" matTooltip="Copy Token" [cdkCopyToClipboard]="getToken()" (click)="copyToken()">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Token</mat-label>
                    <textarea formControlName="token" matInput readonly></textarea>
                </mat-form-field>
                </div>
            <div class="actions">
                <button mat-raised-button class="btn-primary" [disabled]="formValidation()">Update</button>
                <button type="button" mat-raised-button class="btn-danger" (click)="reset()">Reset</button>
                <button mat-raised-button (click)="back()">Back</button>
            </div>

        </form>
    </div>
</app-admin-container>