<div *ngIf="data.action == 'createUserAccount'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="mat-typography">
    {{data.question}}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button 
      (click)="create()" 
      mat-raised-button 
      class="btn-primary"
      [disabled]="isButtonLoading"
      [class.spinner]="isButtonLoading"
      >{{data.button_name}}</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>

<div *ngIf="data.action == 'updateUserAccount'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="mat-typography">
    {{data.question}}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button 
      (click)="update()" 
      mat-raised-button 
      class="btn-primary"
      [disabled]="isButtonLoading"
      [class.spinner]="isButtonLoading"
      >{{data.button_name}}</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>

<div *ngIf="data.action == 'deactivateAccount'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="mat-typography">
    {{data.question}}
  </mat-dialog-content>
  <div class="user-info">
    <ul>
      <li>ID</li>
      <li>First Name</li>
      <li>Last Name</li>
      <li>User Name</li>
    </ul>

    <ul class="separator">
      <li> : </li>
      <li> : </li>
      <li> : </li>
      <li> : </li>
    </ul>

    <ul class="separator">
      <li>{{data.user.id}}</li>
      <li>{{data.user.first_name}}</li>
      <li>{{data.user.last_name}}</li>
      <li>{{data.user.username}}</li>
    </ul>
  </div>
  
  <mat-dialog-actions align="end">
    <button 
      (click)="activate_deactivate()" 
      mat-raised-button 
      class="btn-primary"
      [disabled]="isButtonLoading"
      [class.spinner]="isButtonLoading"
      >{{data.button_name}}</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>


<div *ngIf="data.action == 'resetPassword'">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="mat-typography">
    {{data.question}}
  </mat-dialog-content>
  <div class="user-info">
    <ul>
      <li>ID</li>
      <li>First Name</li>
      <li>Last Name</li>
      <li>User Name</li>
    </ul>

    <ul class="separator">
      <li> : </li>
      <li> : </li>
      <li> : </li>
      <li> : </li>
    </ul>

    <ul class="separator">
      <li>{{data.user.id}}</li>
      <li>{{data.user.first_name}}</li>
      <li>{{data.user.last_name}}</li>
      <li>{{data.user.username}}</li>
    </ul>
  </div>
  
  <mat-dialog-actions align="end">
    <button 
      (click)="resetPassword()" 
      mat-raised-button 
      class="btn-primary"
      [disabled]="isButtonLoading"
      [class.spinner]="isButtonLoading"
      >{{data.button_name}}</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>