<app-admin-container [title]="title">
    <div new id="container">
        <ng-container *ngIf="isGettingUserAccountById; else elseTemplate">
            <div class="loader">
                <ngx-skeleton-loader count="5" appearance="circle" animation="pulse"></ngx-skeleton-loader>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <ng-container *ngIf="hasHttpError == true; else elseTemplate">
                <div class="error">
                    {{httpStatusText}}
                    <div class="error-actions">
                        <button mat-raised-button class="btn-primary" (click)="populateUserAccountByUserId()">Re-Try</button>
                        <button mat-raised-button routerLink="/admin/user-accounts">Back</button>
                    </div>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <form [formGroup]="userAccountForm" (submit)="update()">
                    <div class="name">
                        <mat-form-field appearance="legacy" color="accent">
                            <mat-label>First Name</mat-label>
                            <input (change)="convertAccessPermission()" autofocus matInput autocomplete="off" class="upper-case"
                                formControlName="first_name">
                        </mat-form-field>

                        <mat-form-field appearance="legacy" color="accent">
                            <mat-label>Last Name</mat-label>
                            <input (change)="convertAccessPermission()" matInput autocomplete="off"
                                formControlName="last_name" class="upper-case">
                        </mat-form-field>
                    </div>
                    <div class="cred">
                        <mat-form-field appearance="legacy" color="accent">
                            <mat-label>User Name</mat-label>
                            <input (change)="convertAccessPermission()" matInput autocomplete="off"
                                formControlName="username" class="upper-case">
                        </mat-form-field>
                    </div>
                    <div class="role-permission">
                        <label for="">Role</label>
                        <mat-radio-group formControlName="role" (change)="resetPermissions()">
                            <mat-radio-button value="admin">Admin</mat-radio-button>
                            <mat-radio-button value="cashier">Store</mat-radio-button>
                        </mat-radio-group>
                        <label *ngIf="getRole() == 'admin' || getRole() == 'cashier'" for="">Permissions</label>

                        <div *ngIf="getRole() == 'admin'" class="permissions" formGroupName="access_permission">
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="user_accounts"
                                value="user-accounts">User Accounts</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="stores" value="stores">
                                Stores</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="members"
                                value="members">Members</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="earned_points"
                                value="earned-points">Earned Points</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="redeemed_points"
                                value="redeemed-points">Redeemed Points</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="generate_file"
                                value="generate-file">Generate File</mat-checkbox>
                        </div>

                        <div *ngIf="getRole() == 'cashier'" class="permissions" formGroupName="access_permission">
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="members"
                                value="members">Members</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="earning"
                                value="earning">Earning</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="redeeming"
                                value="redeeming">Redeeming</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="transactions"
                                value="transactions">Transactions</mat-checkbox>
                            <mat-checkbox (change)="convertAccessPermission()" formControlName="generate_file"
                                value="generate-file">Generate File</mat-checkbox>
                        </div>
                    </div>
                    <div class="actions">
                        <button mat-raised-button class="btn-primary"
                            [disabled]="formValidation() || !ifSomethingToChangeValue()">{{btnAction}}</button>
                        <button type="reset" mat-raised-button color="warn">Reset</button>
                        <button type="button" mat-raised-button (click)="back()">Back</button>
                    </div>
                </form>
            </ng-template>


        </ng-template>

    </div>
</app-admin-container>