@import "../scss/theme";
.table-container {
    width: 100%;
    overflow: auto;
    table {
        width: 100%;
        min-height: 300px;
    }
    .no-data {
        text-align: center;
        font-weight: 100;
        font-size: 16px;
        padding: 30px;
        
    }
    
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-paginator {
    width: 100%;
}