<div *ngIf="data.action == 'change-password-admin'" class="admin">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content class="dialog-content">
        <mat-form-field appearance="legacy" color="accent">
            <mat-label>Input current password</mat-label>
            <input (keydown.enter)="validatePassword()" type="password" [(ngModel)]="currentPassword" matInput autocomplete="off" class="upper-case">
        </mat-form-field>

        <mat-form-field *ngIf="isCurrentPasswordCorrect" appearance="legacy" color="accent">
            <mat-label>Input new password</mat-label>
            <input (keydown.enter)="updateNewPassword()" type="password" #txtNewPassword [(ngModel)]="newPassword" matInput autocomplete="off" class="upper-case">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button [disabled]="validateChangePasswordAdmin() || isUpdatingPassword" [class.spinner]="isUpdatingPassword" class="btn-primary">Change Password</button>
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.action == 'change-password-client'" class="admin">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content class="dialog-content">
        <mat-form-field appearance="legacy" color="accent">
            <mat-label>Input current password</mat-label>
            <input (keydown.enter)="validatePasswordClient()" type="password" [(ngModel)]="currentPasswordClient" matInput autocomplete="off" class="upper-case">
        </mat-form-field>

        <mat-form-field *ngIf="isCurrentPasswordCorrentClient" appearance="legacy" color="accent">
            <mat-label>Input new password</mat-label>
            <input (keydown.enter)="updateNewPasswordClient()" type="password" #txtNewPasswordClient [(ngModel)]="newPasswordClient" matInput autocomplete="off" class="upper-case">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="updateNewPasswordClient()" [disabled]="validateChangePasswordClient() || isUpdatingPasswordClient" [class.spinner]="isUpdatingPasswordClient" class="btn-primary">Change Password</button>
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    </mat-dialog-actions>
</div>