<body>
    <header>
      <app-header [deviceXs]="deviceXs" (toogleSidebar)="SideBarToggler()"></app-header>
    </header>
    <mat-drawer-container class="mat-drawer-container">
      <mat-drawer mode="side" [opened]="sidebarOpen" *ngIf="!deviceXs">
        <app-sidebar></app-sidebar>
      </mat-drawer>
  
      <mat-drawer mode="over" [opened]="sidebarOpen" *ngIf="deviceXs">
        <app-sidebar></app-sidebar>
      </mat-drawer>
  
      <mat-drawer-content>
        <article>
          <router-outlet></router-outlet>
        </article>
      </mat-drawer-content>
    </mat-drawer-container>
    <footer class="footer-container">
    </footer>
  </body>
  