<mat-nav-list>
  <div class="profile-card">
    <img src="../../../../assets/sidebar-logo/q_system_logo6.png" alt="">
  </div>
  <mat-divider></mat-divider>
  <!-- <div class="profile">
    <div class="name ">H! {{credServices.getCredentials().user.first_name}} {{credServices.getCredentials().user.last_name}}</div>
    <div class="role ">{{credServices.getCredentials().user.role }}</div>
  </div> -->
  <mat-nav-list class="menu-container">
    <mat-list-item *ngIf="checkAccess('user-accounts')" routerLink="/admin/user-accounts" [class.selected-menu]="sideBarServices.menu.userAccounts">
      <mat-icon class="selected-icon" mat-list-icon>person</mat-icon> User-Accounts
    </mat-list-item>

    <mat-list-item *ngIf="checkAccess('stores')" routerLink="/admin/stores" [class.selected-menu]="sideBarServices.menu.stores">
      <mat-icon class="selected-icon" mat-list-icon>store</mat-icon> Store
    </mat-list-item>


    <mat-list-item *ngIf="checkAccess('members')" routerLink="/admin/members" [class.selected-menu]="sideBarServices.menu.members">
      <mat-icon class="selected-icon" mat-list-icon>groups</mat-icon> Members
    </mat-list-item>

    <mat-list-item *ngIf="checkAccess('earned-points')" routerLink="/admin/earned-points"  [class.selected-menu]="sideBarServices.menu.earned_points">
      <mat-icon mat-list-icon>savings</mat-icon> Earned Points
    </mat-list-item>

    <mat-list-item [class.selected-menu]="sideBarServices.menu.transactions">
      <mat-icon mat-list-icon>receipt_long</mat-icon> Redeemed Points
    </mat-list-item>

    <mat-list-item [class.selected-menu]="sideBarServices.menu.generateFile">
      <mat-icon mat-list-icon>history</mat-icon> Generate File
    </mat-list-item>

  </mat-nav-list>
</mat-nav-list>