<mat-nav-list>
  <div class="profile-card">
    <!-- <img src="../../../../assets/sidebar-logo/q_system_logo.png" alt=""> -->
    <!-- <img src="../../../../assets/sidebar-logo/q_system_logo2.png" alt=""> -->
    <!-- <img src="../../../../assets/sidebar-logo/q_system_logo3.png" alt=""> -->
    <!-- <img src="../../../../assets/sidebar-logo/q_system_logo4.png" alt=""> -->
    <!-- <img src="../../../../assets/sidebar-logo/q_system_logo5.png" alt=""> -->
    <img src="../../../../assets/sidebar-logo/q_system_logo6.png" alt="">
  </div>
  <mat-divider></mat-divider>

  <mat-nav-list class="menu-container">
    <mat-list-item *ngIf="checkAccess('user-accounts')" routerLink="/admin/user-accounts" [class.selected-menu]="sideBarServices.menu.userAccounts">
      <mat-icon class="selected-icon" mat-list-icon>person</mat-icon> User-Accounts
    </mat-list-item>

    <mat-list-item *ngIf="checkAccess('stores')" routerLink="/admin/stores" [class.selected-menu]="sideBarServices.menu.stores">
      <mat-icon class="selected-icon" mat-list-icon>store</mat-icon> Store
    </mat-list-item>


    <mat-list-item *ngIf="checkAccess('members')" routerLink="/admin/members" [class.selected-menu]="sideBarServices.menu.members">
      <mat-icon class="selected-icon" mat-list-icon>groups</mat-icon> Members
    </mat-list-item>

    <mat-list-item [class.selected-menu]="sideBarServices.menu.earnedRedeemedPoints">
      <mat-icon mat-list-icon>savings</mat-icon> Earned / Redeemed
    </mat-list-item>

    <mat-list-item [class.selected-menu]="sideBarServices.menu.transactions">
      <mat-icon mat-list-icon>receipt_long</mat-icon> Transactions
    </mat-list-item>

    <mat-list-item [class.selected-menu]="sideBarServices.menu.generateFile">
      <mat-icon mat-list-icon>history</mat-icon> Generate File
    </mat-list-item>


  </mat-nav-list>
</mat-nav-list>