@import "../../../shared/scss/theme";
.container {
    display: grid;
    grid-template-columns: 1fr;
    .title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        mat-icon {
            color: $secondary;
        }
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        button {
            width: 200px;
        }
        .search {
            margin-left: auto;
            width: 300px;
            @media only screen and (max-width: 1225px) {
               width: 100%;
            }

        }
        @media only screen and (max-width: 1225px) {
            margin-top: 10px;
        }
        @media only screen and (max-width: 704px) {
            button {
                width: 100%;
            }
         }

    }

    table {
        .id {
          min-width: 40px;  
        }
        .receipt-number {
            min-width: 100px;
        }
        .category {
            min-width: 100px;
        }
        .first-name {
            min-width: 100px;
        }
        .last-name {
            min-width: 100px;
        }
        .mobile-number {
            min-width: 100px;
        }
        .amount {
            min-width: 80px;
        }
        .earned-points {
            min-width: 100px;
        }
        .status {
            min-width: 100px;
        }
        .date-earned {
            min-width: 180px;
        }
        .date-synched {
            min-width: 180px;
        }
        .date-cleared {
            min-width: 180px;
        }
    }
    
}