<div class="container">
    <div class="title">ADDRESS</div>
    <div class="field-address-container">
        <div class="required-fields">
            <mat-form-field appearance="legacy">
                <mat-label>PROVINCE</mat-label>
                <input #txtProvince [OnlyLetter] matInput autocomplete="off" class="upper-case" [(ngModel)]="membersRegisterServices.province">
            </mat-form-field>
    
            <mat-form-field appearance="legacy">
                <mat-label>MUNICIPALITY</mat-label>
                <input [OnlyLetter] matInput autocomplete="off" class="upper-case" [(ngModel)]="membersRegisterServices.municipality">
            </mat-form-field>
    
            <mat-form-field appearance="legacy">
                <mat-label>BARANGAY</mat-label>
                <input matInput autocomplete="off" class="upper-case" [(ngModel)]="membersRegisterServices.barangay">
            </mat-form-field>
        </div>
        <div class="border"></div>
        <div class="optional-fields">
            <div class="sub-title ">(OPTIONAL)</div>
            <mat-form-field appearance="legacy">
                <mat-label>PUROK</mat-label>
                <input matInput autocomplete="off" class="upper-case" [(ngModel)]="membersRegisterServices.purok">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>STREET NAME</mat-label>
                <input matInput autocomplete="off" class="upper-case" [(ngModel)]="membersRegisterServices.street_name">
            </mat-form-field>
        </div>
    </div>
    <div class="actions">
        <button mat-raised-button (click)="back()">Back</button>
        <button [disabled]="validateFields()" mat-raised-button class="btn-primary" (click)="next()">Next</button>
    </div>
</div>