<div class="container">
    <div class="title">Store Transactions</div>
    <div class="sub-title">FOMP01 - DOLORES</div>
    <div class="main-menu-container ">
        <div class="menu-container">
            <div class="menu" routerLink="/client/transactions/register-customer">
                <img src="../../../assets/logo/client_transactions/register_menu.png" alt="">
            </div>
            <div class="menu">
                <img src="../../../assets/logo/client_transactions/earn_points.png" alt="">
            </div>
            <div class="menu">
                <img src="../../../assets/logo/client_transactions/redeem_points.png" alt="">
            </div>
            <div class="menu">
                <img src="../../../assets/logo/client_transactions/transactions.png" alt="">
            </div>
            <div class="menu">
                <img src="../../../assets/logo/client_transactions/check_balance.png" alt="">
            </div>
            <div class="menu">
                <img src="../../../assets/logo/client_transactions/update.png" alt="">
            </div>
        </div>
    </div>
    
</div>